body {
  height: 100vh;
}

.blocks-wrapper {
  justify-content: space-around;
  width: 70vw;
  gap: 10px;
  margin: 0 auto;
}

.game-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 30px;
}

.hand-container {
  display: flex;
  gap: 20px;
  position: relative;
}

.drop-zone {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed #fff;
  border-radius: 10px;
  min-height: 110px;
  padding: 10px;
  display: flex;
  gap: 10px;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.drop-area {
  position: relative;
  margin: 10px;
  height: 136px;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

.drop-area.borderless {
  border: none;
}

.hand-zone {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  /*min-height: 120px;*/
  position: relative;
  bottom: -5%;
  z-index: 500;
}
.ai-hand-zone {
  position: absolute;
  top: -80px; /* Виходить за межі екрану */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 500;
}

.cardd {
  transform: rotate(var(--angle));
  transform-origin: center center;
  width: 100px;
  height: 136px;
  background-color: #f8b400;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.cardd img {
  width: 110%;
  position: absolute;
  top: -7%;
  right: -5.4%;
}

.stat-1 {
  position: absolute;
  display: block;
  font-size: 12px;
  bottom: 34px;
  left: 7.5px;
}

.stat-2 {
  position: absolute;
  display: block;
  font-size: 10px;
  bottom: 0px;
  right: 5.5px;
}

.card-id {
  position: absolute;
  display: block;
  font-size: 16px;
}

.cardd:not(:last-child) {
  margin-right: 20px;
}

.cards {
  display: flex;
  height: 100%;
}

.ai-card {
  background: #f55555 !important;
  border: 2px solid #d33;
  box-shadow: 0px 4px 10px rgba(255, 85, 85, 0.5);
}

.cards-container {
  display: flex;
}

.card-appearing {
  animation: fadeInScale 0.5s forwards;
}

.selected-card-preview {
  height: 500px;
  width: 350px;
  border-radius: 10px;
}

.make-move {
  position: absolute;
}

.coin-display {
  font-size: 18px;
  left: 3.5vw;
  margin: 10px;
  color: goldenrod;
  font-weight: bold;
  text-align: left;
  position: absolute;
  align-items: center;
  display: flex;
}
.coin-count {
  color: goldenrod;
  font-size: 22px;
}
.coin {
  width: 40px;
  height: 40px;
}

.turn-indicator {
  position: absolute;
  top: 50px;
  left: 100px;
  font-size: 18px;
  margin: 10px;
  transform: translateX(-50%);
}

.end-turn-button {
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  margin: 10px;
  background-color: #5c2e00;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.player-info {
  position: absolute;
  border-radius: 6px;
  top: 75vh;
  left: 7vh;
}

.ai-info {
  position: absolute;
  border-radius: 6px;
  top: 20vh;
  left: 7vh;
}

.shop-container-game {
  background-color: #f5f5f5;
  padding: 16px;
  border: 2px solid goldenrod;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10000;
  position: absolute;
  width: 80vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.shop-cards {
  display: flex;
  margin: 100px;
  gap: 180px;
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-card-item {
  transform: scale(2.2); /* Збільшує картку */
  transition: transform 0.3s ease;
}

.shop-card-item:hover {
  transform: scale(2.4); /* Додає анімацію при наведенні */
}

.card-price {
  margin-top: 100px;
  transform: scale(2.2);
  font-weight: bold;
  color: goldenrod;
}

.close-shop-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.close-shop-button:hover {
  background-color: #0056b3;
}

@keyframes fadeInScale {
  0% {
    transform: scale(0);
    opacity: 0;
    width: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOutScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    width: 0;
    opacity: 0;
    margin-right: 0;
  }
}
